<div class="buttons">

    <button type="button" class="button" (click)="previousPage()">Previous</button>
    <button type="button" class="button" (click)="nextPage()">Next</button>
</div>

<div class="pokedex">

    <div class="box" *ngFor="let pokemon of pokemons" (click)="openDialog(pokemon)"
        [ngClass]="pokemonType(pokemon.types[0].type.name) ">

        <img src="{{pokemon.sprites.front_default}}">
        <h3>{{pokemon.name}}</h3>
        <button class="id" (click)="openDialog(pokemon)"> #{{pokemon.id}}</button>

        <div class="atributes">

            <div style="margin-right: 20px;">
                <span style="font-weight: bold;">
                    Weight
                </span>
                <br>
                {{pokemon.weight}}
            </div>
            <div style="margin-left: 20px;">
                <span style="font-weight: bold;">
                    Type
                </span>
                <br>
                {{pokemon.types[0].type.name}}
            </div>
        </div>
    </div>
</div>